# Ignore binaries.
/bin

.idea/
docker-compose.yml
docroot/sites/*/settings.local.php
docroot/sites/*/files

#### BEGIN COMPOSER ###
docroot/core
docroot/modules/contrib
docroot/themes/contrib
docroot/profiles/contrib
vendor
#### END COMPOSER ###